body {
    color: #333333; 
    font-family: Arial;
    max-width: 65000000px;
    margin: 0 0;
    padding: 0 16px;
    background-color: lightblue;

    display: flex ;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex-grow: 1 ;
}

footer {
    color: white ;
    font-weight: bolder;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 5px 0;
    background-color: limegreen;
    margin-left: 0%;
}

a:link {
    color: gray;
    }
    a:visited {
    color: green;
    }
    a:hover {
    color: purple;
    }
    a:active {
    color: teal;
    }


header {
    margin-top: 10px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px ;
    color: darkolivegreen;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;

}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding:8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;


}

p {
    font-weight: bolder;
}